h3{
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT';
    text-align: center;
    background-color: rgb(8, 83, 105);
}

body{
    background-color: rgb(69, 156, 182);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*{box-sizing:border-box;}